<%- include('includes/header') %>
<body>
  <div>
    <% courses.map((value, key) => { %>
    <p><%= value.courseName %> - <%= value.coursePrice %></p>
    <% }) %>
  </div>
</body>
<%- include('includes/footer') %>
